html, body, main, header, h1, h2, h3, nav, a, p {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    font-size: 100%;
    font-family: inherit;
}

header {
    background-color: red;
}

h1 {
    font-family: Papyrus, Arial, "Times New Roman";
    font-size: 70px;
    padding: 10px 0px 0px 20px;
    display: inline;
}

h2 {
    font-family: Papyrus, Arial, "Times New Roman";
    font-size: 20px;
    padding: 10px 0px 0px 20px;
    display: inline;
}

h3 {
    font-family:Papyrus, Arial, "Times New Roman";
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

main {
    background: linear-gradient(to bottom, red, yellow);
    height: 1400px;
}

nav {
    box-sizing: border-box;
    background-color: black;
    height: 50px;
}

.navis {
    width: 1200px;
    margin: 0px auto;
}

.navi {
    position: absolute;
    width: 100px;
    text-align: center;
    padding: 13px 50px 12px 50px;
    transition: background-color 0.3s;
}

.nav1 {
    margin-left: 0px;
}

.nav2 {
    margin-left: 200px;
    background-color: gray;
}

.nav3 {
    margin-left: 400px;
}

.nav4 {
    margin-left: 600px;
}

.nav5 {
    margin-left: 800px;
}

.nav6 {
    margin-left: 1000px;
}

.navi:hover {
    background-color: gray;
    cursor: pointer;
}

nav p {
    color: white;
    font-weight: bold;
    display: inline;
}

.blade {
    position: absolute;
    right: 30px;
    width: 300px;
    margin-top: -20px;
}

.bigmac {
    margin-top: 30px;
    float: left;
}

.bigmacpic {
    margin-top: 20px;
    padding-left: 20px;
}

p {
    font-family: Papyrus, Arial, "Times New Roman";
}

.intro {
    font-family: Papyrus, Arial, "Times New Roman";
    padding-left: 20px;
}

.caption {
    text-align: center;
    font-weight: bold;
}

.burger {
    width: 720px;
}
.frenchfries {
    margin-top: 30px;
    margin-bottom: 30px;
    float: right;
}

.fries {
    width: 488px;
}

.friespic {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-right: 20px;
}

.content1 {
    display: block;
    margin-top: 200px;
    margin-bottom: 300px;
    width: 500px;
    float: left;
}

.content2 {
    display: block;
    padding-top: 200px;
    padding-bottom: 100px;
    padding-left: 50px;
    width: 600px;
    float: left;
}

a {
    text-decoration: none;
    color: blue;
}

footer {
    position: absolute;
    top: 1500px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}