/* smash.css */
html, body, h1, h2, h3, nav, p {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    font-size: 100%;
    font-family: inherit;
}

nav {
    font-family: Arial, "Times New Roman";
    font-size: 20px;
    margin: 20px 20px 20px 30px;
    color: #025fca;
}

h1 {
    font-family: impact;
    font-size: 70px;
    margin: 0px 20px 20px 30px;
    border-bottom: 5px solid black;
    width: 700px;
    color: #025fca;
}

h2 {
    font-family: impact;
    font-size: 30px;
    margin: 50px 20px 20px 30px;
    border-bottom: 5px solid black;
    width: 400px;
    color: #025fca;
}

h3 {
    font-family: Arial, "Times New Roman";
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    position: relative;
}

p {
    font-family: Arial;
    padding: 0px 30px;
    line-height: 20px;
    position: relative;
}

body {
    background-color: white;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.blackText {
    color: #000000;
}

.smashpic {
    padding: 0px 30px;
    float: left;
}

.mario {
    margin: 0px auto;
}

.mario p {
    
}

.mario img {
    width: 300px;
    height: 200px;
    padding: 30px 30px;
}

.mario1 {
    float: left;
    color: grey;
}

.mario2 {
    float: left;
    color: grey;
}

.mario3 {
    float: left;
    color: grey;
}

